#whole{
    width: 400px;
    height: 300px;
    background-color: peachpuff;
    position: relative;
    top: 100px;
    left: 500px;
    text-align: center;
}

#a{
    width: 250px;
    height: 25px;
    border-radius: 8px;
    position: relative;
    
}
#a1{
    width: 250px;
    height: 28px;
    border-radius: 8px;
    position: relative;
    top: 20px;
    
}
#a2{
    width: 150px;
    border-radius: 8px;
    position: relative;
    top: 50px;
    background-color: cadetblue;
}
#a2:hover{
    background-color: aqua;
}
